body {
	background-color: #F6F6F6;
	font: serif;
	margin: 20px;
}

a {
	color: #4060F0;
	/*font-size: 20px;*/
	text-decoration: none;
}

#poem-body, #text-container {
	overflow: hidden;
	-webkit-transition: 0.5s;
	/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	 * add in cross browser support!
	 * !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	 */
}

#poem-container {
	overflow: hidden;
	margin-left: 20px;
}

#poem-body {
	overflow: hidden;
	margin: 0px;
	margin-left: 20px;
}

#title-list {
	overflow: hidden;
	-webkit-transition: 50s;
}
