
body {
	background-color: #FFFFFF;
	font: serif;
}

a {
	color: #4060F0;
	/*font-size: 20px;*/
	text-decoration: none;
}

#poem-body, #text-container {
	overflow: hidden;
	-webkit-transition: 0.5s;
	/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	 * add in cross browser support!
	 * !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	 */
}

#poem-container {
	overflow: hidden;
	margin-left: 20px;
}

#poem-body {
	overflow: hidden;
	margin: 0px;
	margin-left: 20px;
}

#title-list {
	margin-top: 50px;
	padding: 20px;
	overflow: hidden;
	-webkit-transition: height 50s;
}

#header {
	background-color: #F0F0F0;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0px;
}

#form-wrapper {
	margin-left: 20px;
	height: 100%;
	display: flex;
	align-items: center;
}
